Repository leroy-merlin-br/metamorphosis, pull requests merged in 2018-11, with the labels that each got.

#47 Move quick usage instructions to file
  docs/quick-usage.md
  readme.md
Labels: docs

#40 Use LMBR Coding Standard
  .gitignore
  .travis.yml
  composer.json
  docs/quick-usage.md
  phpcs.xml
  src/Authentication/SSLAuthentication.php
  src/Config/Consumer.php
  src/Connectors/Producer/Connector.php
  src/Console/ConsumerCommand.php
  src/Facades/Metamorphosis.php
  src/Middlewares/AvroDecode.php
  src/Middlewares/Handler/Consumer.php
  src/Middlewares/Handler/Iterator.php
  src/Middlewares/JsonDecode.php
  src/Producer.php
  src/Record/ProducerRecord.php
  src/TopicHandler/Producer/AbstractHandler.php
  tests/Authentication/FactoryTest.php
  tests/Authentication/SSLAuthenticationTest.php
  tests/BrokerTest.php
  tests/Config/ConfigTest.php
  tests/Config/ConsumerTest.php
  tests/Config/ProducerTest.php
  tests/Connectors/Consumer/ConnectorFactoryTest.php
  tests/Connectors/Consumer/HighLevelTest.php
  tests/Connectors/Consumer/LowLevelTest.php
  tests/Connectors/Producer/ConnectorTest.php
  tests/Connectors/Producer/QueueTest.php
  tests/Console/ConsumerCommandTest.php
  tests/Console/ConsumerMakeCommandTest.php
  tests/Console/MiddlewareMakeCommandTest.php
  tests/Console/ProducerMakeCommandTest.php
  tests/ConsumerRunnerTest.php
  tests/Consumers/HighLevelTest.php
  tests/Consumers/LowLevelTest.php
  tests/Dummies/MiddlewareDummy.php
  tests/Facades/MetamorphosisTest.php
  tests/Middlewares/AvroDecodeTest.php
  tests/Middlewares/Handler/ConsumerTest.php
  tests/Middlewares/Handler/DispatcherTest.php
  tests/Middlewares/Handler/IteratorTest.php
  tests/Middlewares/Handler/ProducerTest.php
  tests/Middlewares/JsonDecodeTest.php
  tests/Middlewares/LogTest.php
  tests/ProducerTest.php
  tests/Record/ConsumerRecordTest.php
  tests/Record/ProducerRecordTest.php
  tests/TopicHandler/Consumer/AbstractHandlerTest.php
Labels: code-review, enhancement

#48 remove StyleCi Badge
  readme.md
Labels: code-review, docs

#50 Add suggestion for Avro package
  composer.json
Labels: code-review, enhancement
